{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-image: url('fondo.jpg');
}

.form-registro{
width: 400px;
background: #020104;
padding: 30px;
margin: auto;
margin-top: 100px
border-radius: 4xp
font-family: 'calibri';
color: white;
box-shadow: 7xp 13xp 37xp #000;
}

.form-registro h3{
font-size: 22px;
margin bottom: 20px;
color: white;
}


.controls{
width: 100%;
background: #EDEDED;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border:1px solid #EDEDED;
font-family: 'calibri';
font-size:18px;
}

.form-registro .boto{
width: 100%;
background: #1f53c5;
border: none;
padding: 12px;
color: white;
margin: 19px 0;
font-size: 16px;
}


.form-registro .boton{
width: 100%;
background: #1f53c5;
border: none;
padding: 12px;
color: white;
margin: 19px 0;
font-size: 16px;
}


